.product-detail {
  display: flex;
  padding: 20px;
  flex-wrap: wrap; /* To handle responsiveness */
}

.image-section {
  flex: 1;
  padding: 20px;
}

.image-section img {
  width: 100%;
}

.details-section {
  flex: 1;
  padding: 20px;
}

.price {
  display: flex;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  margin-right: 10px;
}

.discounted-price {
  color: red;
}

.tax-info {
  font-size: 14px;
  color: gray;
}

.color-selection, .size-selection {
  margin: 20px 0;
}

.color-options, .size-options {
  display: flex;
}

.color-button, .size-button {
  margin: 0 5px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.color-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.color-button.white {
  background-color: white;
}

.color-button.black {
  background-color: black;
}

.size-button {
  width: 100px;
  border-radius: 5px;
}

.color-button.selected, .size-button.selected {
  border: 2px solid red;
}

.size-button.selected {
  background-color: black;
  color: white;
}

.check-delivery, .add-to-cart {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.txtcd {
  margin: 10px 0;
  padding: 10px 20px;
}

.add-to-cart {
  width: 100%;
}

.add-to-cart:hover, .check-delivery:hover {
  background-color: gray;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.collapsible {
  max-width: 450px;
  overflow: hidden;
  font-weight: 500;
  margin-bottom: 10px;
}

.collapsible label {
  position: relative;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 4px;
}

.collapsible input {
  display: none;
}

.collapsible label::after {
  content: "";
  position: absolute;
  right: 15px;
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text {
  max-height: 300px;
  opacity: 1;
  top: 0;
}

.collapsible-text p {
  padding-right: 15px;
}

.collapsible input:checked + label:after {
  transform: rotate(90deg);
}

.heart {
  cursor: pointer;
}

.heart:hover {
  color: black;
}

/* Responsive design */
@media (max-width: 1024px) {
  .product-detail {
    flex-direction: column;
  }
  .details-section{
    margin-top: 80px;
  }

  .add-to-cart {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    padding: 10px;
  }

  .image-section, .details-section {
    padding: 10px;
  }
  .details-section{
    margin-top: 80px;
  }

  .add-to-cart {
    width: 100%;
  }

  .collapsible {
    max-width: 100%;
  }

  .collapsible label {
    padding: 10px 0;
  }

  .collapsible-text {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .product-detail {
    flex-direction: column;
    padding: 5px;
  }

  .image-section, .details-section {
    padding: 5px;
  }
  .details-section{
    margin-top: 80px;
  }

  .add-to-cart {
    width: 100%;
  }

  .collapsible {
    max-width: 100%;
  }

  .collapsible label {
    padding: 5px 0;
  }

  .collapsible-text {
    padding: 5px;
  }
}
