.navbar-container {
    display: flex; 
    flex-direction: column;
  
  }
  
  .announcement-section {
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    color: #e52525;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .announcement-section p {
    margin: 0; 
    animation: scroll 5s linear infinite;
    text-decoration: #e2231a;
    font-weight: 600;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); 
    }
  }