/* Navbar.css */

/* Announcement bar (optional for Diesel style) */
.navbar-announcement {

  background-color: #ffebeb;
  color: #e2231a;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1rem; 

  display: none; /* Hide announcement for Diesel style */
  /* uncomment and adjust styles if you want an announcement */
  /* background-color: #ffebeb;
   color: #e2231a;
   text-align: center;
   padding: 10px 0;
   position: relative;
   z-index: 1;
   border-radius: 5px 5px 0 0;
   margin-bottom: 1rem; */

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2231a; 
  color: white;
  padding: 1rem 2rem;

  margin-bottom: -20px;
  margin-top: -20px;

  height: 60px; /* Set a height for the navbar */

}

.navbar-main {
  display: flex;
  align-items: center; /* Vertical centering */
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-grow: 1; /* Allow links to grow and fill space */
  justify-content: center; /* Align links to the left */
}

.navbar-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li, .navbar-icons li {
  display: inline-block;
  margin: 0 1rem; /* Adjust margin between items */
  font-weight: bold;
  text-transform: uppercase; /* Uppercase text for Diesel style */
  font-size: 0.8rem; /* Adjust font size as needed */
}

.navbar-links a, .navbar-icons a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover, .navbar-icons li:hover {
  text-decoration: underline; /* Optional for hover effect */
}

.navbar-logo {
  flex: 0 0 50%; /* Center logo with flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo img {
  height: 60px; /* Adjust logo height as needed */
}

.icon-user, .icon-search, .icon-heart, .icon-cart, .icon-info-circle {
  font-size: 20px; /* Adjust icon size if needed */
  color: white; /* White icons for Diesel style */
}

.navbar-icons li:hover {
  transform: scale(1.1); /* Optional hover effect */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

/* Sub-menu styles (adjust as needed) */
.sub-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: auto;
  display: flex;
}

.navbar-links li:hover .sub-menu {
  display: block;
}

.sub-menu li {
  list-style: none;
  padding: 10px;
  text-align: left;
}

.sub-menu a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack elements on small screens */
    align-items: center;
  }

  .navbar-links,
  .navbar-icons {
    margin: 0.5rem; /* Adjust margin on small screens */
  }
}
