/* Navbar.css */
.navbar {
    display: flex;
    flex-direction: column;
    background-color: #e2231a;
    color: white;
  }
  
  .navbar-announcement {
    background-color: #ffebeb;
    color: #e2231a;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .navbar-links, .navbar-icons {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li, .navbar-icons li {
    margin: 0 1rem;
  }
  
  .navbar-links a, .navbar-icons a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover, .navbar-icons a:hover {
    text-decoration: underline;
  }
  
  .navbar-logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .navbar-logo img {
    height: 50px; 
  }
  
  .icon-user, .icon-search, .icon-heart, .icon-cart {
    font-size: 1.5rem; 
    color: white;
  }
  
  @media (max-width: 768px) {
    .navbar-main {
      flex-direction: column;
    }
  
    .navbar-links, .navbar-icons {
      justify-content: center;
    }
  
    .navbar-links li, .navbar-icons li {
      margin: 0.5rem;
    }
  }
  