/* src/components/Overlay.css */
.overlay-container {
  position: relative;
  text-align: center;
  color: white;
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-top: -35px; 
}
  
  .background-image {
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    font-size: 3em;
    margin: 0;
  }
  
  p {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 200px;
  }
  
  .shop-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-button:hover {
    background-color: rgba(119, 3, 3, 0);
    color: red;
    border: 2px solid red;
  }
  @media (max-width: 768px) {
    .overlay-content {
      font-size: 2em; 
    }
    .buttons {
      flex-direction: column; 
    }

  }