

#root {
    max-width: auto;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .header1{
    font-size: 2rem;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    padding-top: 20px;
  }
  
  
  
  .product--image {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.7);
    max-width: 250px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    height: 520px;
    border-top: 2px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
    justify-content: center;
  }
  
  .price2 {
    color: grey;
    font-size: 13px;
    text-decoration: line-through;
  }

  .desc {
    color: black;
    font-size: 1rem;
    justify-content: center;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }